<h2 class="mt-4">Gerenciamento de Candidaturas</h2>

<h3 class="mt-4">Lista de Candidaturas</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Vaga</th>
      <th>Status</th>
      <th>Feedback</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let application of applications">
      <td>{{ application.user?.name }}</td>
      <td>{{ application.job?.title }}</td>
      <td>
        <select [disabled]="!application.editing" class="form-select" [(ngModel)]="application.status">
          <option value="PENDENTE">PENDENTE</option>
          <option value="ACEITO">ACEITO</option>
          <option value="REJEITADO">REJEITADO</option>
          <option value="SOB_REVISAO">SOB_REVISAO</option>
        </select>
      </td>
      <td><textarea [disabled]="!application.editing" class="form-control" [(ngModel)]="application.feedback"></textarea></td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="toggleEdit(application)">Atualizar Candidatura</button>
      </td>
    </tr>
  </tbody>
</table>
